.signin-container {
  position: relative;
  .col-container {
    @media screen and (max-width: 769px) {
      max-width: 400px;
      .form-container {
        .imgBg {
          position: unset;
        }
      }
    }
    .headline {
      font-size: 3rem;
      font-weight: 200;
      line-height: 70px;
      padding-bottom: 24px;
      padding-right: 10px;
      color: #8f5849;
    }
    .form-container {
      max-width: 400px;
      padding: 0;
      form {
        display: flex;
        flex-direction: column;
      }
    }
    .imgBg {
      position: absolute;
      z-index: -1;
      top: 0;
      right: -150px;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: #0a66c2;
    }
  }
  button {
    padding: 12px 0;
    border-radius: 30px;
    height: 56px;
    font-size: 1.3rem;
    &.google {
      background: #fff;
      color: #00004a;
      border-color: #838383;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
